.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  margin: 20px;
  padding: 20px;
  color: rgb(250, 233, 3);
  background-color: black;
}

header {
  background-color: black;
}

ul {
  list-style: none;
}